{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'header.html' %}

    </head>
    <body>

    <style>
        .navbar {
        background: none;
        border-color: #FFF;
        margin-bottom: 0;
        border: none;
        }
        .navbar-brand {
        padding: 0;
        }
        .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
        }
        .navbar-toggle {
        background-color: #000;
        margin-top: 9px;
        margin-bottom: 0;
        }
        .logo {
        margin-bottom: -5px;
        }
    </style>

        <img src="{% static 'images/logo.jpg' %}" id="logo">
        <hr>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'footer.html' %}
    </body>
</html>