{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/mapscript.js' %}"></script>

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/demostyles.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<style>
    .modal-body {
    padding-top: 0px;
    }
    .btn-primary:hover {
    background-color: #337AB7;
    }
    .btn-xs {
    width: 70px;
    height: 50px;
    border-radius:0;
    }
    .btn-group > .btn:first-child {
    margin-left: -1px;
    }
    .btn {
    margin: 5px 0 5px 0;
    }

</style>

{% endblock %}
{% block content %}

{% endblock %}

{% block outside %}
<div class="container"> <p>Appleton Tower<br>-Central Campus-</p>

<div class="container">
    <div class="swiper-container" id="box">
        <div class="swiper-wrapper" id="innerContent">
            <!--<div class="swiper-slide">Slide 1</div>-->
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

<button type="button" class="btn btn-default"> <i class="fa fa-star"></i> Add to favourites</button>

</div>

{% include "modal-computers.html" %}

{% endblock %}