{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/mapscript.js' %}"></script>

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/demostyles.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block content %}

<style>
    .btn-primary:hover {
    background-color: #337AB7;
    }
    .btn-xs {
    width: 70px;
    height: 60px;
    border-radius:0;
    }
    .btn-group > .btn:first-child {
    margin-left: -1px;
    }
</style>

<p>Appleton Tower</p>
<p>-Central Campus-</p>
    <div class="swiper-container" id="box">
        <div class="swiper-wrapper" id="innerContent">
            <!--<div class="swiper-slide">Slide 1</div>-->
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
<hr>
{% endblock %}

{% block outside %}
<div class="row">
    <div class="col-xs-10">
      <div id="navbar2" class="navbar-collapse collapse">
    <p>Attributes <a><span class="caret"></span></a></p>
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary btn-xs">
    <input type="checkbox" autocomplete="off"> <i class="fa fa-microphone-slash fa-2x"></i>
    </label><label class="btn btn-primary btn-xs">
    <input type="checkbox" autocomplete="off"> <i class="fa fa-desktop fa-2x"></i>
    </label><label class="btn btn-primary btn-xs">
    <input type="checkbox" autocomplete="off"> <i class="fa fa-map-marker fa-2x"></i>
    </label>
    <br>
</div>

<br> <br>

<p>Campuses <a><span class="caret"></span></a></p>
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary btn-xs" >
    <input type="checkbox" autocomplete="off">King's <br>Building
    </label>
    <label class="btn btn-primary btn-xs">
    <input type="checkbox" autocomplete="off">Central
    </label>
    <label class="btn btn-primary btn-xs">
    <input type="checkbox" autocomplete="off">Lauriston
    </label>
    <label class="btn btn-primary btn-xs">
    <input type="checkbox" autocomplete="off">Holyrood
    </label>
    <label class="btn btn-primary btn-xs">
    <input type="checkbox" autocomplete="off">Other
    </label>

</div>
          <br><br>
          <button type="button" class="btn btn-default"> Filter
    </button>
          <br><br>
  </div><!--/.nav-collapse -->
        <div class="container">
<button type="button" class="btn btn-default"> <i class="fa fa-star"></i> Add to favourites
    </button>
            </div>
    </div>

    <style>
        #navbar2 {
            margin-top: 0px;
        }
    </style>

    <div class="col-xs-2">
    <button type="button" class="navbar-toggle collapsed"  id="navbar2" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

</div>
</div>
{% endblock %}