{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<!-- amCharts javascript sources -->
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="{% static 'js/makepie.js' %}"></script>
{% endblock %}

{% block content %}

<!--to make the default inner margins smaller-->
<style>
    .btn-lg {
    border-radius:0;
    }
    .nav {
    margin-bottom: 6px;
    }
        .col-xs-3:not(:first-child) {
        padding-left:3px;
    }
    .col-xs-3:not(:last-child) {
        padding-right: 3px;
    }
        .col-xs-4:not(:first-child) {
        padding-left:3px;
    }
    .col-xs-4:not(:last-child) {
        padding-right: 3px;
    }
        .col-xs-2:not(:first-child) {
        padding-left:3px;
    }
    .col-xs-2:not(:last-child) {
        padding-right: 3px;
    }
    #free {
        background: #009ED3;
        height: 10px;
        width: 10px;
        display: inline-block;
        border-radius: 25px;
    }
    #inuse {
        background: #00CDFF;
        height: 10px;
        width: 10px;
        display: inline-block;
        border-radius: 25px;
    }

</style>


  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="tab" href="#home">Computers</a></li>
    <li><a data-toggle="tab" href="#menu1">Rooms</a></li>
  </ul>

<!--id #chartdiv needed to make piechart-->
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
       <!--Computer Lab-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Library Cafe <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4"><div id="free"></div> Free:<br><div id="inuse"></div> In-Use:</div>
                            <div class="col-xs-2">25<br>75</div>
                            <div class="col-xs-4"><div id="chartdiv" style="width: 100%; height: 50px; background-color: #FFFFFF;" ></div></div>

                            <div class="col-xs-2"> <a href="{% url 'computerlabs' %}" class="btn btn-default" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Appleton <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        BYYEEEE
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapseThree" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Hugh Robson <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        YOOO
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseSix" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Library Cafe <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-xs-5"><div id="chartdiv2" style="width: 100%; height: 50px; background-color: #FFFFFF;" ></div></div>
                            <div class="col-xs-2">Free:<br>In-Use:</div>
                            <div class="col-xs-2">25<br>75</div>

                            <div class="col-xs-3">Map<br><i class="fa fa-photo"><br></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapseSeven" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Appleton <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        HIIII
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapseEight" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Hugh Robson <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body">
                        BYEEE
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}