{% extends "base2.html" %}
{% block content %}

<style>
    .btn-lg {
    border-radius:4px;
    }
</style>

<a href="{% url 'computerlabs' %}" class="btn btn-info btn-lg btn-block" role="button"><i class="fa fa-laptop fa-3x"></i><br>Computer Labs</a>
<a href="{% url 'tutorialrooms' %}" class="btn btn-success btn-lg btn-block" role="button"><i class="fa fa-home fa-3x"></i><br>Tutorial Rooms</a>
<a href="{% url 'favourites' %}" class="btn btn-warning btn-lg btn-block" role="button"><i class="fa fa-star fa-3x"></i><br>Favourites</a>
<a href="{% url 'history' %}" class="btn btn-primary btn-lg btn-block" role="button"><i class="fa fa-history fa-3x"></i><br>History</a>

{% endblock %}