{% extends "base.html" %}
{% block content %}
<!--<h1> {{template_title}} </h1>-->
<!--{{users}}-->
<!--{{request.user}} #haven't set yet-->

<style>
    .btn-lg {
    border-radius:0;
    }
</style>

<label class="btn btn-primary btn-lg btn-block">
<i class="fa fa-laptop fa-3x"></i>
<br>Computer Labs</label>
<label class="btn btn-success btn-lg btn-block">
<i class="fa fa-home fa-3x"></i>
<br>Tutorial Rooms</label><label class="btn btn-info btn-lg btn-block">
<i class="fa fa-star fa-3x"></i>
<br>Favourites</label><label class="btn btn-warning btn-lg btn-block">
<i class="fa fa-history fa-3x"></i>
<br>History</label>
{% endblock %}
<!--if not inside block, it will not show up-->
<!--block.super-->
<!--tut 20/42-->