<!DOCTYPE html>
<html>
	<head>
		<!-- amCharts javascript sources -->
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>

		<!-- amCharts javascript code -->
		<script type="text/javascript">
			AmCharts.makeChart("chartdiv",
				{
					"type": "pie",
					"balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
					"innerRadius": 10,
					"labelRadius": 15,
					"radius": 20,
					"startAngle": 180,
					"baseColor": "#009ED3",
					"labelsEnabled": false,
					"labelTickAlpha": 0,
					"marginBottom": 0,
					"marginTop": 0,
					"outlineAlpha": 1,
					"outlineThickness": 2,
					"pullOutDuration": 0,
					"sequencedAnimation": false,
					"startDuration": 0,
					"titleField": "category",
					"urlTarget": "",
					"valueField": "column-1",
					"handDrawScatter": 0,
					"panEventsEnabled": false,
					"percentPrecision": 1,
					"allLabels": [],
					"balloon": {},
					"titles": [],
					"dataProvider": [
						{
							"category": "Available",
							"column-1": "12"
						},
						{
							"category": "In-Use",
							"column-1": "4"
						}
					]
				}
			);
		</script>

        <style>
            #chartdiv a{
    		font-size: 0!important;
		}
        </style>

	</head>
	<body>
		<div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
	</body>
</html>