body {
  padding-top: 15px;
}

.navbar {
background: none;
border-color: #FFF;
margin-bottom: 0;
border: none;
}
.navbar-brand {
padding: 0;
}
.navbar-nav > li > a {
padding-top: 8px;
padding-bottom: 8px;
}
.navbar-toggle {
background-color: #000;
margin-top: 9px;
margin-bottom: 0;
}