body * {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capital;
    font-size: large;
}

#logo {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

/*remove amcharts logo*/
#chartdiv a{
   font-size: 0 !important;
}

hr {
    margin-top:10px;
    margin-bottom:10px;
}

/*pie chart colors*/
.free {
background: #429FEE;
display: inline-block;
margin-top: 2px;
}
.inuse {
background: #337AB7;
display: inline-block;
margin-top: 2px;
}