body * {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capital;
    font-size: large;
}

#logo {
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

/* maps */
#box {
   width: 100%;
   padding-bottom: 100%;

}
#innerContent {
   position: absolute;
}
/* end maps */

/*remove amcharts logo*/
#chartdiv a{
   font-size: 0 !important;
}